.DS_Store

.pnp
.pnp.js
.env.local
.env.*.local
.history
*.log*

node_modules/
.yarn-integrity
.pnpm-store/
*.tsbuildinfo
.eslintcache
.changeset/pre.json

dist/
coverage/
release/
output/
output_resource/
log/

.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

modern.config.local.*

homebridge-ui/
.hb-haier